:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira sans', sans-serif;
  list-style:none;
}

hmtl {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: var(--dark);
  color: #FFF;
  padding: 0.5rem 1rem;
}

main {
  height: 100vh;
}

section {
  position: relative;
  height: 100vh;
}

p{
  color: var(--light);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--purple);
  text-decoration: none;
}

.input_form{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.input_container{
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
}

input {
  border: none;
  outline: none;
  appearance: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--darker);
  color: var(--light);
}

input:focus,
input:hover{
  appearance: none;
  border: none;
  outline: none;
}

.button_container{
  padding: 0.25rem;
}

button {
  border: none;
  outline: none;
  background-color: var(--darker);
  border-radius: 1rem;
  color: var(--pink);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.users {
  padding: 1rem;
  padding-bottom: 5rem;
}

.users_list_container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.users_card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

li .users_image,
.users_image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

div .user_card_image{
  border-radius: 50%;
}

.pagination_container{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.user_list_container{
  padding: 1rem;
}

.user_card{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user_card div {
  padding: 0.25rem 0.5rem;
}

.user_card_image {
  display: flex;
  justify-content: center;
}

.user_card_image img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0;
}

.user_info_container{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.repos_list_container {
  padding: 1rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.repos_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.25rem;
  row-gap: 0.5rem;
}

.repo_card {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.repo_card div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pagination {
  cursor: pointer;
}

.pagination_disable {
  cursor: not-allowed;
}

.error_message{
  text-align: center;
  padding: 5rem;
  color: var(--light);
}




